<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <title>TNN SHOP</title>

    <div th:replace="/fragments/header :: header"></div>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Main Sidebar Container -->
    <div th:replace="/fragments/aside :: aside"></div>

    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row" th:each=" p : ${products} ">
                    <div class="col-md-5 mt-4">
                        <img th:src="@{'/images/products/' + ${p.image}}" width="100%" />
                        <p>
                            File name
                        </p>
                        <p>
                            <th:block th:text="${p.image}"></th:block>
                        </p>
                    </div>
                    <div class="col-md-7 mt-4 ">
                        <div class="card">
                            <div class="card-header text-center">
                                <h2> Edite Product item </h2>
                            </div>
                            <div class="card-body" >
                                <form th:action="@{/product/updateproduct}" method="POST" enctype="multipart/form-data" th:object="${product}" >
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Product name</span>
                                        </div>
                                        <input type="text" name="name" class="form-control" th:value="${p.name}" >
                                        <input type="text" name="id" class="form-control" th:value="${p.id}" >
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Price</span>
                                        </div>
                                        <input type="number" step = "0.01" name="price" class="form-control"  th:value="${p.price}">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Product detail</span>
                                        </div>
                                        <input type="text" name="detail" class="form-control"  th:value="${p.detail}">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Quantity</span>
                                        </div>
                                        <input type="number" name="quantity" class="form-control"  th:value="${p.quantity}">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Upload Image</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" name="image" accept="image/*" class="custom-file-input">

                                            <label class="custom-file-label">Choose file</label>
                                        </div>
                                    </div>
                                    <input type="text" name="Old" th:value="${p.image}">
                                    <input type="submit" class="btn btn-sm btn-primary col-12" value="บันทึกข้อมูล">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>

<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>

