<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <title>TNN SHOP</title>

    <div th:replace="/fragments/header :: header"></div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Main Sidebar Container -->
  <div th:replace="/fragments/aside :: aside"></div>
  <!-- Main Sidebar Container -->

  <!-- content-wrapper  -->
  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-7">
            <div class="row mt-3 row-cols-1 row-cols-md-3">
              <div th:each=" p : ${products}" class="col mb-3">
                <div class="card h-80">
                  <img th:src="@{'/images/products/' + ${p.image}}" class="card-img-top p-2" height="180px" width="50%">
                  <div class="card-body">
                    <h5 class="card-title" th:text="${p.name}"></h5>
                    <p class="card-text">

                    <hr>
                      Price : <th:block th:text="${p.price}"></th:block>
                    </p>
                    <a th:href="@{/addToCart/{id}(id = ${p.id})}" class="btn btn-outline-info form-control"> Add to cart</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mt-3">
              <div class="card-header">
                <a th:href="@{/clear/cart}" class="btn btn-outline-warning form-control"> Clear Cart</a>
              </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>name</th>
                      <th>Qty</th>
                      <th>price</th>
                    </tr>
                    </thead>
                    <tr th:each=" c : ${cart}">
                      <td th:text="${c.name}"></td>
                      <td th:text="${c.quantity}"></td>
                      <td th:text="${c.price}"></td>
                    </tr>
                  </table>
                </div>
              <div class="card-footer">
                <a th:href="@{/checkout}" class="btn btn-outline-success form-control"> Check Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- content-wrapper  -->

</div>

<div th:replace="/fragments/footer :: footer"></div>

<script>
  $(function () {
    $("#example1").DataTable({});
  });
</script>

</body>
</html>
